<div class="main-content-wrap sidenav-open d-flex flex-column pt-0">
    <div class="breadcrumb justify-content-end">
        <ul>
            <li><a> ORG-Chart</a></li>
           <li><a routerLink = "/dashboard/home" class = "underlineOnHover" title = "Go To Dashboard">Dashboard</a></li>
        
        </ul>
    </div> 

    <div class="row">
        <div class="col-md-12">
           <div class="card mb-4">
              <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                         <div class="card-title mb-3">DNF Team </div>
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3"></div>
                    </div>
               
                    <div class="row">
                        <div class="container p-3">
                            <ol class="organizational-chart">
                              <li>
                                <div style="height:44px">
                                  <h1>DNF</h1>
                                </div>
                                <ol>
                                    <li>
                                        <div data-toggle="collapse" data-target="#collapse-Command" aria-expanded="true" aria-controls="collapse-Command">
                                            <h2 class="cursorIcon">Chairman</h2>
                                            <span class="menu__icon--open" uk-icon="icon: chevron-down; ratio: 1.5"></span>
                                            <span class="menu__icon--close" uk-icon="icon: chevron-up; ratio: 1.5"></span>
                                        </div>
                                        <ol class="collapse show" id="collapse-Command">
                                            <li>
                                                <div>
                                                    <h3><a >Harnath Doddapaneni</a></h3>
                                                </div>
                                            </li>   
                                        </ol>
                                            
                                    </li>                                   
                                    <li>
                                        <div data-toggle="collapse" data-target="#collapse-Command1" aria-expanded="true" aria-controls="collapse-Command1">
                                            <h2 class="cursorIcon">Board of Directors (USA)</h2>
                                            <span class="menu__icon--open" uk-icon="icon: chevron-down; ratio: 1.5"></span>
                                            <span class="menu__icon--close" uk-icon="icon: chevron-up; ratio: 1.5"></span>
                                        </div>
                                        <ol class="collapse show" id="collapse-Command1">
                                            <li>
                                                <div>
                                                    <h3><a>Jay Talluri</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Mrudula Athuluri</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Radha Bonala</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Laxman (Lax) Chepuri</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Ravi Devisetti</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Jyothi Gurram</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Muttu Nagabandi</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Amar Nettem</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Radha Alla</a></h3>
                                                </div>
                                            </li>
                                        </ol>
                                         
                                    </li>                                 
                                    <li>
                                        <div data-toggle="collapse" data-target="#collapse-Command3" aria-expanded="true" aria-controls="collapse-Command3">
                                            <h2 class="cursorIcon">Presidents</h2>
                                            <span class="menu__icon--open" uk-icon="icon: chevron-down; ratio: 1.5"></span>
                                            <span class="menu__icon--close" uk-icon="icon: chevron-up; ratio: 1.5"></span>
                                        </div>
                                        <ol class="collapse show" id="collapse-Command3">
                                            <li>
                                                <div>
                                                    <h3><a >Babu Bayyana (USA)</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Bonala Ramakrishna (INDIA)</a></h3>
                                                </div>
                                            </li>
                                        </ol>
                                         
                                    </li>                                  
                                    <li>
                                        <div data-toggle="collapse" data-target="#collapse-Command4" aria-expanded="true" aria-controls="collapse-Command4">
                                            <h2 class="cursorIcon"> Secretaries </h2>
                                            <span class="menu__icon--open" uk-icon="icon: chevron-down; ratio: 1.5"></span>
                                            <span class="menu__icon--close" uk-icon="icon: chevron-up; ratio: 1.5"></span>
                                        </div>
                                        <ol class="collapse show" id="collapse-Command4">
                                            <li>
                                                <div>
                                                    <h3><a >Veera Lenin Thulluri (USA)</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Bandi Nageswar Rao (INDIA)</a></h3>
                                                </div>
                                            </li>
                                        </ol>                                        
                                    </li>                                  
                                    <li>
                                        <div data-toggle="collapse" data-target="#collapse-Command2" aria-expanded="true" aria-controls="collapse-Command2">
                                            <h2 class="cursorIcon">Treasurers</h2>
                                            <span class="menu__icon--open" uk-icon="icon: chevron-down; ratio: 1.5"></span>
                                            <span class="menu__icon--close" uk-icon="icon: chevron-up; ratio: 1.5"></span>
                                        </div>
                                        <ol class="collapse show" id="collapse-Command2">
                                            <li>
                                                <div>
                                                    <h3><a >Radha Alla (USA)</a></h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h3><a >Pasumarthy Ranga Rao (INDIA)</a></h3>
                                                </div>
                                            </li>
                                        </ol>                                        
                                  </li>                         
                                </ol>                           
                              </li>
                            </ol>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>