
<div class="main-content-wrap sidenav-open d-flex flex-column pt-0">
    <!-- Pre Loader Strat  -->
    <div class='loadscreen' *ngIf="loading">

      <div class="loader spinner-bubble spinner-bubble-primary">
      </div>
  </div>
  <!-- Pre Loader end  -->
   <div class="breadcrumb justify-content-end">
      <ul>
          <li><a>News List </a></li>
         <li><a routerLink = "/dashboard/home" class = "underlineOnHover" title = "Go To Dashboard">Dashboard</a></li>
      
      </ul>
   </div> 
  <!-- <div class="separator-breadcrumb border-top"></div> -->
  <!-- <div class="row">
     <div class="col-md-12">
        <div class="card mb-4"> 
           <div class="card-body">
              <div class="card-title mb-3">News <button class="btn btn-sm btn-primary" routerLink="/news/addNews">+Add</button></div>
              <div class="row">
                 <div class="col-md-12">
                    <div class="text-left">
                       <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" *ngIf="newsData">
                              <thead class="table-success">
                                <tr>
                                  <th scope="col"> ID</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Discription</th>
                                  <th scope="col">Image</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let user of newsData.News; let i = index">
                                  <th scope="row">{{user._id}}</th>
                                  <td>{{user.title}} </td>
                                  <td>{{user.discription}}</td>
                                  <td>
                                      
                                        <img src="{{user.image}}">
                                    </td>
                                  
                                </tr>
                              </tbody>
                            </table>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div> -->
  <div class="row">
   <div class="col-md-12">
      <div class="card o-hidden mb-4">
            <div class="row  card-header">
               <div class="col-md-6">
                  <div class="card-title mb-3">News <button *ngIf="newsPermissions.write" class="btn btn-sm btn-primary" routerLink="/news/addNews">+Add</button></div>
               </div>
               <div class="col-md-3">

               </div>
               <div class="col-md-3">
                 
                  <input type="text" placeholder="Search News Title" name="search" (keyup)="search($event.target.value)" class="search-filter form-control" >

              </div>
            </div>
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col"> ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col" *ngIf="userToken.activeUser === 'admin'">Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <ng-container *ngIf="availableNewsRecords; else noData">
                        <tr *ngFor="let news of allNewsData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                           <th scope="row"> {{news.index}}</th>
                           <td style="width: 20%;">{{news.title}} </td>
                           <td style="width: 50%;" >{{ news.discription | slice:0:400}}<span *ngIf="news.discription .length >400">....</span></td>
                           <td style="width: 15%;">
                                 
                                 <img src="{{news.image}}">
                              </td>
                           <td style="width: 5%;">
                              <a *ngIf="newsPermissions.update" (click)="updateModel(updateData,news._id)" class="text-success mr-4" title="edit news"> <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                              </a>
                              <a  class="text-danger mr-5" title="View News" (click)="viewModel(viewData,news._id)" class="text-success mr-4" *ngIf="newsPermissions.read">
                                 <i class="nav-icon i-Eye font-weight-bold"></i>
                              </a>
                           </td>
                           </tr>

                     </ng-container>
                     <ng-template #noData>
                        <tr>
                              <td colspan="12" class="text-error-message mb-0" style="text-align: center;">
                              No Records Found 
                              </td>
                        </tr>
                     </ng-template>
                  
                  </tbody>
                  <tfoot>
                     <tr *ngIf="allNewsData.length > pageSize">
                           <td colspan="12">
                           <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="allNewsData.length" [boundaryLinks]="true">
                           </ngb-pagination>
                           </td>
                     </tr>
                  
                  </tfoot>
               </table>
            </div>
      </div>
   </div>
</div>
</div>


  <!-- edit News Start -->
  <ng-template #updateData let-modal>
      <!-- Pre Loader Strat  -->
      <div class='loadscreen' *ngIf="loading">

        <div class="loader spinner-bubble spinner-bubble-primary">
        </div>
    </div>
    <!-- Pre Loader end  -->
   <div class="modal-header">
     <h4 class="modal-title">Edit News</h4>
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="newsEditDataForm" >
         <div class="row">
            <div class=" col-md-6">
               <div class="form-group">
                 <label>Title <span class="text-danger"> *</span> </label>
                 <input type="text"    formControlName="title" class="form-control form-control-rounded" />
	 			<div class="error-block text-danger"
                  *ngIf="newsEditDataForm.get('title').errors && (newsEditDataForm.get('title').touched || newsEditDataForm.get('title').dirty)">
                  <span *ngIf="newsEditDataForm.get('title').errors.required">
                     {{errorMessageTitleReq}}
                  </span>
                  <span *ngIf="newsEditDataForm.get('title').errors.pattern">
                     {{errorMessageTitleInvalid}}
                  </span>
               </div>
				</div>
                 
             </div>
             <div class="col-md-6">
                <div class="form-group">
                     <label>Description <span class="text-danger"> *</span> </label>
                     <textarea    rows="6" formControlName="discription" class="form-control form-control-rounded"></textarea>
                     <!-- <input type="text" value="{{singleNewsData.discription }}" formControlName="discription" class="form-control form-control-rounded" /> -->
					    <div class="error-block text-danger"
                        *ngIf="newsEditDataForm.get('discription').errors && (newsEditDataForm.get('discription').touched || newsEditDataForm.get('discription').dirty)">
                        <span *ngIf="newsEditDataForm.get('discription').errors.required">
                           {{errorMessageDescriptionReq}}
                        </span>
                        <span *ngIf="newsEditDataForm.get('discription').errors.pattern">
                           {{errorMessageDescriptionInvalid}}
                        </span>
                     </div>
                </div>
                 
             </div>
         </div>       
        
         <div class="row">
           <div class="col-md-6 form-group">
             <label>image <span class="text-danger"> *</span> </label>
             <input type="file" class="form-control form-control-rounded" formControlName="image" id="selectImage" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg, image/jpg" class="form-control mb-10">
           </div>
             <!-- <input type="file" formControlName="image" class="form-control form-control-rounded"  /> -->
           <div class="col-md-6" *ngIf="newsDataResult.getimage">
               <img src="{{newsDataResult.getimage}}" alt="newImage" style="width: 50%;">
           </div>
            
         </div>
         <div class="row">
            
            <div class="col-md-6">
               <div class="col-md-8">
                   <img [src]="image" *ngIf="image != null || image == ''" alt="profile pic" class="picture" />
               </div>
            
           </div>
           <div class="col-md-6">
               <image-cropper [imageChangedEvent]="imageChangedEvent" id="imageCropper" [maintainAspectRatio]="true" [aspectRatio]="1/1" [resizeToWidth]="128" format="png" outputType="both" autoCrop="true" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
           </div>
         </div>
         <div class="clearfix"></div>
     </form>   
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
     <button type="button" class="btn btn-success"  (click)="updateNews(resultModal,resultErrorModal)" >Update</button>
     <!-- [disabled] = "!newsEditDataForm.valid" -->
   </div>
 </ng-template>
  <!-- edit News End -->

  <!-- view news start -->
  <ng-template #viewData let-modal>
   <div class="modal-header">
     <h4 class="modal-title">View News</h4>
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
         <div class="row">          
            <div class="col-md-6">
               <label>Title</label> :   <strong>{{singleNewsData.title}}</strong>             
            </div>
            <div class="col-md-6 text-center">
               <img src="{{singleNewsData.getimage}}"  class="img-thumbnail" alt="newImage">
            </div>              
         </div>       
         <div class="row m-2">
            <label>Description :</label>
            <div style="margin: 15px;">
               <span>{{singleNewsData.discription}} </span>
            </div>
         </div>       
         <div class="clearfix"></div>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
   </div>
 </ng-template>

  <!-- view news end -->

    <!-- result modal -->
 <ng-template #resultModal let-modal>
   <div class="modal-header border-0 pt-2 pb-2 pr-2">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body pt-0">
     <p class="text-success-message mb-0"><strong><span> Success! </span></strong>{{message}}
     </p>
   </div>
   <div class="modal-footer p-2">
    
     <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('Cross click')">close</button> 
   </div>
</ng-template>
<!-- result modal end -->

    <!-- result modal -->
    <ng-template #resultErrorModal let-modal>
      <div class="modal-header border-0 pt-2 pb-2 pr-2">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body pt-0">
         
          <p  class="text-error-message mb-0"><strong><span> Error! </span></strong> {{error}}
          </p>
      </div>
      <div class="modal-footer p-2">
          
          <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('Cross click')">close</button> 
      </div>
      </ng-template>
      <!-- result modal end -->