
<div class="main-content-wrap sidenav-open d-flex flex-column pt-0">
    <div class="breadcrumb justify-content-end">
        <ul>
            <li><a> Organization Pledges</a></li>
           <li><a routerLink = "/dashboard/home" class = "underlineOnHover" title = "Go To Dashboard">Dashboard</a></li>
        
        </ul>
     </div>
    
    <div class="separator-breadcrumb border-top"></div>

    <div class="col-md-12  mt-2">
        <div class="card text-left">

            <div class="card-body">
                <h4 class="card-title mb-3">Organization Pledges List </h4>

                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Organization name</th>
                                <th scope="col">Pledge Info</th>
                                <th scope="col">Recurring Donation Name</th>
                                <th scope="col">Date Established</th>

                                <th scope="col">Open Ended Status</th>

                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Techno Soft</td>
                                <td>Child Education</td>
                                <td> Larry</td>
                                <td> 01-05-2020</td>
                                <td> Open</td>

                                <td>
                                    <a href="#" class="text-success mr-2">
                                        <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                    </a>
                                    <a href="#" class="text-danger mr-2">
                                        <i class="nav-icon i-Eye font-weight-bold"></i>
                                    </a>
                                   

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Soft Solutions</td>
                                <td> Constructing a building for old age people</td>
                                <td> Steeve</td>
                                <td> 25-05-2020</td>
                                <td> Open</td>

                                <td>
                                    <a href="#" class="text-success mr-2">
                                        <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                    </a>
                                    <a href="#" class="text-danger mr-2">
                                        <i class="nav-icon i-Eye font-weight-bold"></i>
                                    </a>
                                    <!-- <span (click)="openXLModal(addPledgeModal)" class="pointer textsize-2rem mr-2"
                                        title="Add Pledges">
                                        +
                                    </span> -->

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Techno sol</td>
                                <td>Adopt a school in Khammam</td>
                                <td> John</td>
                                <td> 15-02-2019</td>
                                <td> Closed</td>


                                <td>
                                    <a href="#" class="text-success mr-2">
                                        <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                    </a>
                                    <a href="#" class="text-danger mr-2">
                                        <i class="nav-icon i-Eye font-weight-bold"></i>
                                    </a>
                                    <!-- <span (click)="openXLModal(addPledgeModal)" class="pointer textsize-2rem mr-2"
                                        title="Add Pledges">
                                        +
                                    </span> -->

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>







</div>
