<div class="main-content-wrap sidenav-open d-flex flex-column pt-0">
     <!-- Pre Loader Strat  -->
     <div class='loadscreen' *ngIf="loading">

      <div class="loader spinner-bubble spinner-bubble-primary">
      </div>
  </div>
  <!-- Pre Loader end  -->
    <div class="breadcrumb justify-content-end">
        <ul>
            <li><a> Propose Project</a></li>
           <li><a routerLink = "/dashboard/home" class = "underlineOnHover" title = "Go To Dashboard">Dashboard</a></li>
        
        </ul>
     </div> 
    <!-- <div class="separator-breadcrumb border-top"></div> -->
    <!-- <span (click)="openModal(addProjectProposalForm)"
        class="pointer textsize-2rem mr-2" title="Add Pledges">
        Add
    </span> --> 
    <div class="row">
        <div class="col-md-12">
           <div class="card o-hidden mb-4">
            <div class="row card-header">
                <div class="col-md-6">
                <div class="card-title mb-3">Project Proposals<button *ngIf="praposalPermissions.write" class="btn btn-sm btn-primary ml-2" (click)="openModal(addProjectProposalForm)">+ Add</button> </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    
                    <input type="text" placeholder="Search Project Name " name="search" (keyup)="search($event.target.value)" class="search-filter form-control" >
                </div>

            </div> 
                 <!-- <div class="card-title mb-3">Project Proposals<button *ngIf="praposalPermissions.write" class="btn btn-sm btn-primary ml-2" (click)="openModal(addProjectProposalForm)">+ Add</button></div> -->
                 <div class="row">
                    <div class="col-md-12">
                       <div class="text-left">
                          <div class="card-body">
                             <div class="table-responsive">
                                <table class="table">
                                   <thead>
                                      <tr>
                                         <th scope="col">S.No</th>
                                         <th scope="col">Project name</th>
                                         <th scope="col">Project Type</th>
                                         <th scope="col">Goal</th>
                                         <th scope="col">Location</th>
                                         <th scope="col">Proposed Date</th>
                                         <!-- <th scope="col">Action</th> -->
                                      </tr>
                                   </thead>
                                   <tbody>
                                    <ng-container *ngIf="availableRecords; else noData">
                                      <tr *ngFor="let project of projectProposalsList  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i =index">
                                         <th scope="row">{{project.index}}</th>
                                         <td>{{project.projectName}}</td>
                                            <td><span class="badge badge-success" *ngIf="project.projectType=='1'">Educational</span>
                                                <span class="badge badge-success" *ngIf="project.projectType=='2'">Health</span>
                                                <span class="badge badge-success" *ngIf="project.projectType=='3'">Social</span>
                                             </td>
                                         <td>
                                            &#8377;{{project.projectGoal}}
                                         </td>
                                         <td>{{project.projectLocation}}</td>
                                         
                                         <td>{{project.dateAdded | date:'MM-dd-yyy'}}</td>
                                         <!-- <td>
                                            <a class="text-success mr-2" title="Edit Project Proposal">
                                            <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                            </a>
                                            <a  class="text-danger mr-2" title="View Project Proposal">
                                            <i class="nav-icon i-Eye font-weight-bold"></i>
                                            </a>
                                           
                                         </td> -->
                                      </tr>
                                      </ng-container>
                                      <ng-template #noData> 
                                        <tr>
                                            <td colspan="12" class="text-error-message mb-0" style="text-align: center;">
                                              No Records Found 
                                            </td>
                                        </tr>
                                      </ng-template>
                                   </tbody>
                                </table>
                                <div *ngIf="projectProposalsLength > pageSize ">
                                  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="projectProposalsLength" [boundaryLinks]="true">
                                  </ngb-pagination>
                               </div>
                            
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
           </div>
        </div>
     </div>

</div>

<ng-template #addProjectProposalForm let-modal>
    <div class="modal-content overflow-y-scroll">
        <div class="modal-header">
            <div class="row align-items-center">
                <div class=" ml-2">
                    <a href="dashboard/home">
                        <img src="{{orgdataRes.orgInfo[0].logo}}" alt="" class= "modal-logo">
                    </a>
                </div>
                <div class="ml-2">
                    <h4 class="modal-title" id="modal-basic-title ">Add Project Proposal</h4>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body ">
            <div class="row">
                <div class="col-md-12">
            
                    <form [formGroup]="addProjectProposal">
                        <div class="row" style="margin: auto;">
                            <div class="col-md-3 form-group mb-3">
                                <label for="exampleInputEmail1">Project Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter your project name"
                                    formControlName="projectName">
                                    <div class="error-block text-danger"
                                        *ngIf="addProjectProposal.get('projectName').errors && (addProjectProposal.get('projectName').touched || addProjectProposal.get('projectName').dirty)">
                                        <span *ngIf="addProjectProposal.get('projectName').errors.required">
                                            {{errorMessageProjectNameReq}}
                                        </span>
                                        <span *ngIf="addProjectProposal.get('projectName').errors && addProjectProposal.get('projectName').errors.pattern">
                                            {{errorMessageProjectNameInvalid}}
                                        </span>
                                        <span
                                            *ngIf="addProjectProposal.get('projectName').errors && (addProjectProposal.get('projectName').errors.maxlength || addProjectProposal.get('projectName').errors.minlength)">
                                            {{errorMessageProjectNameMinMax}}
                                        </span>
                                    </div>
                            </div>
                            <div class="col-md-3 form-group mb-3">
                                <label for="picker1">Project Type<span class="text-danger">*</span></label>
                                <select class="form-control" formControlName="projectType">
                                    <option value="" disabled selected>Select the Project Type</option>
                                    <option *ngFor="let projectType of projectTypes" value="{{projectType.id}}">{{projectType.name}}
                                    </option>
                                </select>
                                <div class="error-block text-danger"
                                    *ngIf="addProjectProposal.get('projectType').errors && (addProjectProposal.get('projectType').touched || addProjectProposal.get('projectType').dirty)">
                                    <span *ngIf="addProjectProposal.get('projectType').errors && addProjectProposal.get('projectType').errors.required">
                                        {{errorMessageProjectTypeReq}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 form-group mb-3">
                                <label for="goal">Goal( &#8377;)<span class="text-danger">*</span></label>
                                <input class="form-control" type = "number" id="goal" placeholder="Enter the project Goal" formControlName="goal">
                                <div class="error-block text-danger"
                                    *ngIf="addProjectProposal.get('goal').errors && (addProjectProposal.get('goal').touched || addProjectProposal.get('goal').dirty)">
                                    <span *ngIf="addProjectProposal.get('goal').errors && addProjectProposal.get('goal').errors.required">
                                        {{errorMessageGoalReq}}
                                    </span>
                                </div>
            
                            </div>
                            <div class="col-md-3 form-group mb-3">
                                <label for="location">Location<span class="text-danger">*</span></label>
                                <input class="form-control" placeholder="Enter the Location" formControlName="location" min = "0">
                                <div class="error-block text-danger"
                                    *ngIf="addProjectProposal.get('location').errors && (addProjectProposal.get('location').touched || addProjectProposal.get('location').dirty)">
                                    <span *ngIf="addProjectProposal.get('location').errors && addProjectProposal.get('location').errors.required">
                                      {{errorMessageLocationReq}}
                                    </span>
                                </div>
            
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit1">Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" placeholder="Enter the description"
                                    formControlName="description"></textarea>
                                    <div class="error-block text-danger"
                                        *ngIf="addProjectProposal.get('description').errors && (addProjectProposal.get('description').touched || addProjectProposal.get('description').dirty)">
                                        <span *ngIf="addProjectProposal.get('description').errors && addProjectProposal.get('description').errors.required">
                                            {{errorMessageDescriptionReq}}
                                        </span>
                                    </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="credit1">Details</label>
                                <textarea class="form-control" placeholder="Enter the Details" formControlName="details"></textarea>
                            </div>
            
            
                            <!-- <div class="col-md-3 form-group mb-3">
                                <label>Your Donation</label>
                                <input type="number" class="form-control" placeholder="Amount" formControlName="donatedAmount" min = "0"> 
                                <div class="error-block text-danger"
                                *ngIf="addProjectProposal.get('donatedAmount').errors && (addProjectProposal.get('donatedAmount').touched || addProjectProposal.get('donatedAmount').dirty)">
                                <span *ngIf="addProjectProposal.get('donatedAmount').errors && addProjectProposal.get('donatedAmount').errors.required">
                                    {{errorMessageDonationReq}}
                                </span>
                            </div>
                            </div> -->
                            <!-- <div class="col-md-3 form-group mb-3">
                                <label for="credit1">Source of Fund</label>
                                <ng-multiselect-dropdown class="form-control-rounded" [placeholder]="'Select Users'" [settings]="dropdownSettings"
                                    formControlName="sourceOfFund" [data]="allUsersData.users" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>


                            </div> -->
                        </div>
            
                     
                    </form>
                </div>
            </div>
        </div>
               <!-- Pre Loader Strat  -->
       <div class='loadscreen' *ngIf="loading">

        <div class="loader spinner-bubble spinner-bubble-primary">
        </div>
    </div>
    <!-- Pre Loader end  -->
        <div class="modal-footer">
            <button class="btn btn-primary" type = "submit" [disabled] = "!addProjectProposal.valid"  (click)="addProjectProposalData(resultModal)">Submit</button>
            <button type="button" class="btn btn-outline-danger"
                (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>


        <div class="">
            <div class="flex-grow-1"></div>
            <div class="app-footer">

                <div class="footer-bottom d-flex flex-column flex-sm-row align-items-center">

                    <span class="flex-grow-1"></span>
                    <div class="d-flex align-items-center">
                        <img class="logo" src="{{orgdataRes.orgInfo[0].logo}}" alt="">
                        <div>
                            <p class="m-0">&copy; 2020 DNF</p>
                            <p class="m-0">All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</ng-template>

<ng-template #resultModal let-modal>
    <div class="modal-header border-0 pt-2 pb-2 pr-2">
       <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
       </button> -->
    </div>
    <div class="modal-body pt-0" *ngIf="success">
      <p class="text-success-message mb-0"><strong><span> Success! </span></strong> {{message}}
      </p>
    </div>
    <div class="modal-body pt-0"  *ngIf="danger">
        <p class="text-error-message mb-0"><strong><span> Error! </span></strong> {{message}}
        </p>
      </div>
    <div class="modal-footer p-2">
       <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="viewProposals()">View Proposals</button>
      <!-- <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button> -->
    </div>
 </ng-template>