<router-outlet></router-outlet>
<div style="width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 0.3);
position: fixed;
top: 0px;
left: 0px;
z-index: 9999;" *ngIf="(service.isLoggedIn | async) === false">
<div class="modal-dialog modal-dialog-centered modal-sm"><div class="modal-content"><div class="modal-header border-0 pt-2 pb-2 pr-2"></div><div class="modal-body pt-0"><p class="text-error-message mb-0"><strong><span> Error! </span></strong> Session Expired,Please login. </p></div><div class="modal-footer p-2"><button type="button" ngbautofocus="" class="btn btn-primary btn-rounded" (click)="login()">Login</button></div></div></div></div>