<div class="main-content-wrap sidenav-open d-flex flex-column pt-0">
   <div class="breadcrumb justify-content-end">
      <ul>
          <li><a> My Events</a></li>
         <li><a routerLink = "/dashboard/home" class = "underlineOnHover" title = "Go To Dashboard">Dashboard</a></li>
      
      </ul>
   </div>
    <!-- <div class="separator-breadcrumb border-top"></div> -->
    <div class="row ">
       <div class="col-md-12">
          <div class="card mb-4">
             <div class="card-body">
                <div class="card-title mb-3">My Events</div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="text-left">
                         <div class="card-body">
                            <div class="table-responsive">
                               <table class="table">
                                  <thead>
                                     <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Event Name</th>
                                        <th scope="col">Project Name</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Action</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>NRI youth club artificial limb distribution</td>
                                        <td>
                                            Physically Challenged
                                        </td>
                                        <td>
                                          Khammam
                                        </td>
                                        <td>06/25/2020</td>
                                       
                                        <td>
                                           <!-- <a (click)="openEditModal(editProject,project.id)"class="text-success mr-2">
                                           <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                           </a> -->
                                           <a class="text-danger cursor-pointer mr-2">
                                             <i class="nav-icon i-Eye font-weight-bold"></i>
                                             </a>
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">2</th>
                                        <td>Youth Awareness program</td>
                                        <td>
                                            Good Will
                                        </td>
                                        <td>
                                            Bhadrari Kotthagudem
                                        </td>
                                        <td>08/16/2020</td>
                                       
                                        <td>
                                           <!-- <a (click)="openEditModal(editProject,project.id)"class="text-success mr-2">
                                           <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                           </a> -->
                                           <a class="text-danger cursor-pointer mr-2">
                                             <i class="nav-icon i-Eye font-weight-bold"></i>
                                             </a>
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">3</th>
                                        <td>Organic Farming</td>
                                        <td>
                                            Rural Development
                                        </td>
                                        <td>
                                          Bhadrari Kotthagudem
                                        </td>
                                        <td>08/16/2020</td>
                                       
                                        <td>
                                           <!-- <a (click)="openEditModal(editProject,project.id)"class="text-success mr-2">
                                           <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                           </a> -->
                                           <a class="text-danger cursor-pointer mr-2">
                                             <i class="nav-icon i-Eye font-weight-bold"></i>
                                             </a>
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">4</th>
                                        <td>Health Awareness programme conducted for school children</td>
                                        <td>
                                            Rural Development
                                        </td>
                                        <td>
                                            Khammam
                                        </td>
                                        <td>07/16/2020</td>
                                       
                                        <td>
                                           <!-- <a (click)="openEditModal(editProject,project.id)"class="text-success mr-2">
                                           <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                           </a> -->
                                           <a class="text-danger cursor-pointer mr-2">
                                             <i class="nav-icon i-Eye font-weight-bold"></i>
                                             </a>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

